body {
  margin: 0;
  padding: 0;
}

header {
  margin: auto;
  text-align: center;
}

.container {
  margin: auto;
  width: 80%;
  text-align: center;
}

h1 {
  color: tomato;
}

p {
  font-size: 22px;
}

.disappear {
  display: none;
} 

.disappear.active {
  display: flex;
  color: red;
}
